table
{
    border-collapse:collapse;
}

 td
{
    border: 1px solid black;
}

td
{
    padding: 10px;
}

th
{
    background-color:#333;
    color:#fff;
    border-radius: 10px 10px 0 0;
}


a.nubex {
	color: #fff;
	user-select: none; /* Убираем текстовое выделение */
	text-decoration: none;	/* Убираем подчеркивание */
	outline: none; /* Убираем контур вокруг ссылки */
	background-color: #000000; /* Цвет фона */
	padding: 1em 1em; /* Отступ от текста до рамки */
}
a.nubex:active {
        color: #0000;
	    background-color: #FFFFFF; /* Цвет кнопки при наведении курсора */
        background-color: #000000	; /* Цвет кнопки при нажатии */
}
a.nubex:hover {
	background-color: #696969	; /* Цвет кнопки при наведении курсора */
}
